.Rproj.user
.DS_Store
.Rhistory
inst/stan/dbmm_probit
inst/stan/dbmm_probit
inst/stan/dbmm_logit
inst/stan/*.hpp
inst/stan/*.o
inst/stan/mixfac_probit
inst/stan/*.exe
inst/stan/*.hpp
inst/stan/*.o
inst/stan/mixfac_probit
inst/stan/modgirt_probit
inst/stan/*.exe
inst/stan/*.hpp
inst/stan/*.o
dbmm_*.tar.gz
inst/doc/
build/
.Rcheck/
dbmm.Rcheck/
*.Rcheck/
